<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>FirstProject.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>FirstProject.controller.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>FirstProject.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewRentalServlet</servlet-name>
    <servlet-class>FirstProject.controller.ViewRentalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRentalServlet</servlet-name>
    <url-pattern>/ViewRentalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancelBookingServlet</servlet-name>
    <servlet-class>FirstProject.controller.CancelBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelBookingServlet</servlet-name>
    <url-pattern>/CancelBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchAvailableCarsServlet</servlet-name>
    <servlet-class>FirstProject.controller.SearchAvailableCarsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAvailableCarsServlet</servlet-name>
    <url-pattern>/SearchAvailableCarsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>FirstProject.controller.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>FirstProject.controller.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookCarRentalServlet</servlet-name>
    <servlet-class>FirstProject.controller.BookCarRentalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookCarRentalServlet</servlet-name>
    <url-pattern>/BookCarRentalServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>CompleteBookingServlet</servlet-name>
    <servlet-class>FirstProject.controller.CompleteBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteBookingServlet</servlet-name>
    <url-pattern>/CompleteBookingServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>